{{ if and .IsPage .Params.pager }}
  {{ $pages := .Parent.RegularPages.ByWeight }}
  {{ if or ($pages.Next .) ($pages.Prev .) }}
    <ul class="pager">
      {{ with $pages.Next . }}
        <li class="pager__previous">
          <a href="{{ .RelPermalink }}">← {{ .LinkTitle }}</a>
        </li>
      {{ end }}
      {{ with $pages.Prev . }}
        <li class="pager__next">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }} →</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
